/*=====Variables=====*/
:root{
    --leftMargin: 32px;
    --topMargin: 15vh;

    --navbarColor: white;
    --themeColor: rgb(242, 101, 34);
    --heading-color: rgb(58, 77, 105);
    --gray-color: rgb(182, 182, 182);
    --paragraph-color: rgb(131, 150, 159);
}

/*=====Universal style=====*/
*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Raleway';
}

body{
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5{
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Raleway';
    color: var(--heading-color);
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Open sans';
    font-size: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.bg-orange{
    background-color: var(--themeColor);
    color: white;
}

.bg-white{
    background-color: white;
    color: var(--paragraph-color);
}

.bg-gray{
    background-color: rgb(50, 51, 57);
    color: white;
}

.gray-out{
    color: var(--gray-color);
    margin: 0;
}

.parallax{
    height: 30vh;

    background-color: black;
    background-image: url('https://i.pinimg.com/originals/61/4d/1b/614d1b9f319aa430fdad6acff2c99f0b.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.tooltip .tooltiptext{
    display: none;
}

/*====Header styles=====*/
.header{
    display: flex;
    flex-direction: column;

    /* height: 100vh; */

    background-color: black;
    background-image: url('https://www.wallpaperflare.com/static/366/315/585/landscape-gray-mountain-wallpaper.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    padding: 0 0 50px 0;
}

.header .flex{
    position: relative;
    display: flex;
    margin-left: var(--leftMargin);
    margin-top: 100px;

    z-index: 2;
}

.read-down{
	position: absolute;
	transition: 500ms;
}

.read-down:hover{
	transition: 300ms;
	opacity: 0;
}

.read-continue{
	position: absolute;
	transition: 500ms;
	left: 65px;
}

.read-continue:hover{
	transition: 300ms;
	opacity: 0;
}

.logo{
    display: inline-block;
	position: absolute;

	top: 18px;
	right: 28px;
    
	font-weight: 700;
	font-size: 2ex;
	color: white;

	margin-left: auto;
    z-index: 2;
}

.logo > span {
	display: inline-block;
	color: var(--themeColor);
	transform: scale(-1, 1);
}

/*=====Navbar styles=====*/
navbar{
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 10, 10);

    text-transform: uppercase;
    z-index: 5;
    transition: 300ms ease-out;
}

navbar.inactive{
    /* display: none; */
    width: 50px;
    height: 50px;
    overflow: hidden;
    
    transition: 300ms ease-in;
}

.navbar-item{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--navbarColor);
    /* background-color: rgb(10, 10, 10); */

    cursor: pointer;
}

.navbar-item.active{
    background-color: var(--themeColor);
    cursor: default;
}

.navbar-item .list{
    position: absolute;
    width: 100%;    
    height: 200px;
    top: 50px;

    display: flex;
    flex-direction: column;

    background-color: var(--themeColor);
    z-index: 7;

    transition: 200ms;
    overflow: hidden;
}

.navbar-item .list.inactive{
    height: 0px;
    overflow: hidden;

    transition: 200ms;
}

.navbar-item .list .item{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: rgb(10, 10, 10);

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;

    z-index: 6;
}

/*=====Title box styles=====*/
.title-box{
    position: relative;
    display: block;

    margin-top: 150px;
    padding: 0 var(--leftMargin);

    color: var(--navbarColor);
}

.title-box::before{
    content: "";
    position: absolute;
    top: -30px;

    display: block;
    width: 1em;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
}

.title-box::after{
    content: "";
    position: absolute;
    bottom: -30px;

    display: block;
    width: 1em;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
}

.title-box h1{
    margin: 0 0 10px 0;
    font-size: 40px;
    color: white;
}

.title-box p {
    text-align: start;
}

.title-box > .grid{
    grid-template-columns: 25px 75px 25px 1fr;

    align-items: center;
}

.title-box .dash{
    display: block;
    width: 1em;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);

    grid-column: 1;
}

.title-box .arrow{
    grid-column: 3;
    transition: 300ms;
}

.title-box box-icon{
    position: absolute;
    left: 150px;
    bottom: -29px;
}


/*=====Container styles=====*/
.container{
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 50vh;
    border: 0;
}

/*====Brigt ass orange styles====*/
.bao{
    display: flex;
    flex-direction: column;

    width: 100vw;
}

/*====Info styles====*/
.info{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.tweet-this{
    display: inline-flex;
    width: fit-content;
    gap: 5px;

    background-color: transparent;
    color: rgb(207, 207, 207);

    position: relative;
}

.tweet-this box-icon{
    background-color: transparent;
    position: absolute;
}

.tweet-this span{
    border-bottom: 1px lightgray solid;
    margin-inline-start: 25px;
}

/*=====Words and such styles=====*/
.was{
    display: flex;
    flex-direction: column;
}

.was .parallax{
    height: 70vh;

    background-color: black;
    background-image: url('https://www.popphoto.com/app/uploads/2019/01/17/H6IXNGES7XFT3BC2QPOREFGINU.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/*=====Sign up form styles=====*/
.take-action{
    padding-bottom: 40px;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.take-action.bg-gray h2{
    color: white;
}

.take-action form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.take-action input{
    display: block;
    width: 75vw;
    height: 48px;
    padding: 0 15px;

    font-size: 20px;
}

.take-action button{
    display: block;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 3px;
}

/*=====Oh this is nice styles=====*/
.otin{
    display: flex;
    flex-direction: column;
}

/*=====Card=====*/
.card{
    display: flex;
    flex-direction: column;

    padding: 32px;
}

.card h2{
    margin: 0;
    margin-bottom: 10px;

    font-size: 40px;
    text-transform: uppercase;
    background-color: transparent;
}

.card.bg-orange h2{
    color: white;
}

.card p{
    background-color: transparent;
    margin: 0;
    margin-bottom: 10px;
}

/*====Grid general definitions====*/
.grid{
    display: grid;
}

.footer{
    display: flex;
    flex-direction: column;

    padding-top: 20px;
}

.footer .navigation{
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer .navigation .item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 0 150px;
    width: fit-content;
}

.footer-title{
    color: var(--themeColor)
}

.footer p{
    width: 100%;
    font-size: 12px;
    color: rgb(73,74,86);
    padding: 0 32px;
}